{% extends 'base.html' %}
{% load static from staticfiles %}
{% load custom_tags %}
{% block content %}
    
<!-- Radio and check inputs -->
<link href="{% static 'assets/css_home/css/skins/square/grey.css' %}" rel="stylesheet">

<!-- SubHeader =============================================== -->
<section class="parallax-window" data-parallax="scroll" data-image-src="{% static 'assets/img_home/img/website_cover.jpg' %}" data-natural-width="1400" data-natural-height="470">
    <div id="subheader">
	<div id="sub_content">
    	<div id="thumb">
{#            <img src="{% static 'assets/img_home/img/thumb_restaurant.jpg' %}" alt="">#}
            <img src="{{ hotel.hotel.image.url }}" alt="">
        </div>
                     <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> (<small><a href="detail_page_2.html">Read 98 reviews</a></small>)</div>
                    <h1>{{ hotel.hotel.name }}</h1>
                    <div><em>Branch Name: {{ hotel.branch_name }}</em></div>
                    <div><i class="icon_pin"></i> {{ hotel.address }}, {{ hotel.city }}, {{ hotel.state }}</div>
    </div><!-- End sub_content -->
</div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

{#    <div id="position">#}
{#        <div class="container">#}
{#            <ul>#}
{#                <li><a href="#0">Home</a></li>#}
{#                <li><a href="#0">Category</a></li>#}
{#                <li>Page active</li>#}
{#            </ul>#}
{#            <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Search</a>#}
{#        </div>#}
{#    </div><!-- Position -->#}

<!-- Content ================================================== -->
<div class="container margin_60_35">
		<div class="row">
        
			<div class="col-md-3">
            	<p><a href="list_page.html" class="btn_side">Back to search</a></p>
				<div class="box_style_1">
					<ul id="cat_nav">
                        {% for category in categories %}
                            {% if forloop.first %}
						        <li><a href="#{{ category }}" class="active">{{ category }}</a></li>
                            {% else %}
                                <li><a href="#{{ category }}">{{ category }} <span>(2)</span></a></li>
                            {% endif %}
                        {% endfor %}

{#						<li><a href="#beef">Beef <span>(12)</span></a></li>#}
{#						<li><a href="#desserts">Desserts <span>(11)</span></a></li>#}
{#						<li><a href="#drinks">Drinks <span>(20)</span></a></li>#}
					</ul>
				</div><!-- End box_style_1 -->
                
				<div class="box_style_2 hidden-xs" id="help">
					<i class="icon_lifesaver"></i>
					<h4>Need <span>Help?</span></h4>
					<a href="tel://004542344599" class="phone">+45 423 445 99</a>
					<small>Monday to Friday 9.00am - 7.30pm</small>
				</div>
			</div><!-- End col-md-3 -->
            
			<div class="col-md-6">
				<div class="box_style_2" id="main_menu">
					<h2 class="inner">Menu</h2>
                    {% for category in categories %}
					    <h3 class="nomargin_top" id="#{{ category.category }}">{{ category.category }}</h3>
{#                        <p>#}
{#                            Te ferri iisque aliquando pro, posse nonumes efficiantur in cum. Sensibus reprimique eu pro. Fuisset mentitum deleniti sit ea.#}
{#                        </p>#}
                        <table class="table table-striped cart-list">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Price</th>
                                    <th>Order</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% get_menu pk category.id as items %}
                                {% for item in items %}
                                    <tr>
                                        <td>
                                            <figure class="thumb_menu_list"><img src="{{ item.image.url }}" alt="thumb"></figure>
                                            <h5>{{ forloop.counter }}.  {{ item.name }}</h5>
                                            <p>
                                                {{ item.decscription }}.
                                            </p>
                                        </td>
                                        <td>
                                            <strong>Rs. {{ item.price }}</strong>
                                        </td>
                                        <td class="options">
                                            {% if user.is_authenticated %}
                                                <a data-url = "{% url 'add-cart-view' %}" id="id_add_to_cart" onclick="add_to_cart({{ item.id }})"><i class="icon_plus_alt2"></i></a>
                                            {% else %}
                                                <a onclick="open_login()"><i class="icon_plus_alt2"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <hr>
                    {% endfor %}
				</div><!-- End box_style_1 -->
			</div><!-- End col-md-6 -->
            {% if user.is_authenticated %}
			<div class="col-md-3" id="sidebar">
            <div class="theiaStickySidebar">
				<div id="cart_box" >
					<h3>Your order <i class="icon_cart_alt pull-right"></i></h3>
					<table class="table table_summary">
					<tbody>
                    {% for item in user_cart_details %}
					<tr>
						<td>
							<a data-url = "{% url 'dec-cart-view' %}" onclick="decrement_to_cart({{ item.product.id }})" id="id_dec_cart" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>{{ item.qty }}x </strong>{{ item.product_name }}
						</td>
						<td>
							<strong class="pull-right">Rs. {{ item.price }}</strong>
						</td>
					</tr>
                    {% endfor %}
{#					<tr>#}
{#						<td>#}
{#							<a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>2x</strong> Burrito#}
{#						</td>#}
{#						<td>#}
{#							<strong class="pull-right">$14</strong>#}
{#						</td>#}
{#					</tr>#}
{#					<tr>#}
{#						<td>#}
{#							<a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>1x</strong> Chicken#}
{#						</td>#}
{#						<td>#}
{#							<strong class="pull-right">$20</strong>#}
{#						</td>#}
{#					</tr>#}
{#					<tr>#}
{#						<td>#}
{#							<a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>2x</strong> Corona Beer#}
{#						</td>#}
{#						<td>#}
{#							<strong class="pull-right">$9</strong>#}
{#						</td>#}
{#					</tr>#}
{#					<tr>#}
{#						<td>#}
{#							<a href="#0" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>2x</strong> Cheese Cake#}
{#						</td>#}
{#						<td>#}
{#							<strong class="pull-right">$12</strong>#}
{#						</td>#}
{#					</tr>#}
					</tbody>
					</table>
					<hr>
{#					<div class="row" id="options_2">#}
{#						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">#}
{#							<label><input type="radio" value="" checked name="option_2" class="icheck">Delivery</label>#}
{#						</div>#}
{#						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">#}
{#							<label><input type="radio" value="" name="option_2" class="icheck">Take Away</label>#}
{#						</div>#}
{#					</div><!-- Edn options 2 -->#}

{#					<hr>#}
					<table class="table table_summary">
					<tbody>
                    {% get_total user_cart_details as total %}
					<tr>
						<td>
							 Subtotal <span class="pull-right">Rs. {{ total }}</span>
						</td>
					</tr>
                    {% get_tax user_cart_details as tax %}
					<tr>
						<td>
							 Taxes <span class="pull-right">Rs. {{ tax }}</span>
						</td>
					</tr>
                    {% get_liquor_status user_cart_details as status %}
                    {% if status %}
                    {% get_liquor_tax user_cart_details  as liquor_tax %}
                    <tr>
						<td>
							 VAT <span class="pull-right">Rs. {{ liquor_tax }}</span>
						</td>
					</tr>
                    {% endif %}
                    {% get_service_charge_status user_cart_details as service_charge_status %}
                    {% if service_charge_status %}
                    {% get_service_charge_amount user_cart_details as service_charge %}
                    <tr>
						<td>
							 Service Charge <span class="pull-right">Rs. {{ service_charge }}</span>
						</td>
					</tr>
                    {% endif %}
                    {% get_tax_total total tax liquor_tax user_cart_details as final %}
					<tr>
						<td class="total">
							 TOTAL <span class="pull-right">Rs. {{ final }}</span>
						</td>
					</tr>
					</tbody>
					</table>
					<hr>
					<a class="btn_full" href="{% url 'order-now' %}">Order now</a>
				</div><!-- End cart_box -->
                </div><!-- End theiaStickySidebar -->
			</div><!-- End col-md-3 -->
            {% endif %}
            
		</div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->

<div class="layer"></div><!-- Mobile menu overlay mask -->

    <!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_close"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="Search..." />
			<button type="submit"><i class="icon-search-6"></i>
			</button>
		</form>
	</div>
	<!-- End Search Menu -->

{% endblock %}
{% block extra_js %}

<!-- SPECIFIC SCRIPTS -->
<script  src="{% static 'assets/js_home/js/cat_nav_mobile.js' %}"></script>
<script>$('#cat_nav').mobileMenu();</script>
<script src="{% static 'assets/js_home/js/theia-sticky-sidebar.js' %}"></script>
<script>
    jQuery('#sidebar').theiaStickySidebar({
      additionalMarginTop: 80
    });
</script>
<script>
$('#cat_nav a[href^="#"]').on('click', function (e) {
			e.preventDefault();
			var target = this.hash;
			var $target = $(target);
			$('html, body').stop().animate({
				'scrollTop': $target.offset().top - 70
			}, 900, 'swing', function () {
				window.location.hash = target;
			});
		});
</script>
{% endblock %}